<div class="container">
  <h1 class="question_number">Question #1 :</h1>

  <div class="form_css">
    <%= simple_form_for [current_user.current_user_journey, @user_journey_answer] do |f| %>
      <%= f.input :answer_id, collection: @question.answers.pluck(:content, :id), as: :radio_buttons, label: @question.content %>
      <%= f.submit 'Valider ma réponse', class: 'submit_button'%>
    <% end %>
  </div>
</div>
