<div class="card-piece-banner">
        <div class="card-piece-banner-infos done" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @question.piece.photo.key, height: 200, crop: :fill %>)">
          <div>
            <h2> <%= @question.piece.name %></h2>
          </div>
        </div>
  </div>

<div class="container w-100 question-form" data-controller="question">

  <%= simple_form_for [@user_journey_piece, @user_journey_answer], html: { data: { question_target: 'form' } } do |f| %>
    <%= f.input :answer_id, collection: @question.answers.pluck(:content, :id), as: :radio_buttons, label: @question.content, input_html: { class: 'answers_css', data: { action: 'change->question#submit'} }, item_wrapper_class: 'form_wrapper' %>
  <% end %>

</div>
