// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Palette ArtUp
$pink: #F2CFBB;
$green-gray: #E3E8E0;
$dark-green: #0B4037;
$brown-orange: #D8A137;
$brown: #927500;
