#pages-home {
  h1 {
    text-align: center;
    color: $dark-green;
    font-family: $headers-font;
    margin-bottom: 30px;
  }
  p {
    text-align: center;
    color: $dark-green;
    font-family: $body-font;
  }
}
