.question_number{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

.submit_button{
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
}

.form_css{
  display: flex;
  justify-content: center;
}
