@keyframes pulse {
  45% { font-size: 1.8rem }
  60% { font-size: 1rem }
  80% { font-size: 1.8rem }
}
@keyframes appear {
  from { opacity: 0}
  to { opacity: 1}
}

.answered-questions {
  animation: appear 1.5s;
}

.question-form{
  .question {
    text-align: center;
    font-family: $headers-font;
    font-size: 30px;
    line-height: 2rem;
  }
  legend {
    display: none;
  }
  .gif-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    animation: appear 1.5s;
    // opacity: 0;
    // transition: all 1s ease-in;
    // &.appear {
    //   opacity: 1
    // }
    img {
      width: 90vw;
      height: 250px;
      object-fit: cover;
      border-radius: $border-radius;
    }
    > div {
      position: absolute;
      bottom: 0;
      color: white;
      height: 2rem;
      display: flex;
      align-items: center;
      span {
        animation: pulse 1.5s;
      }
    }
  }
}

.submit_button{
  font-family: $headers-font;
  font-size: 20px;
}

.answers_css{
  position: absolute;
  transform: scale(0);
}

.answers_css + label{
  cursor: pointer;
  width: 100%;
  font-family: $body-font;
  border-radius: $border-radius;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  background-color: $green-gray;
  color: $dark-green;
  // border: 1px solid $dark-green;
  margin-right: 0.6rem;
  margin-bottom: 17px;
  text-shadow: 1px;
}

.answers_css:checked + label {
  background-color: $dark-green;
  color: $green-gray;
  // border: 1px solid $dark-green;
  font-family: $body-font;
  margin-right: 0.6rem;
  margin-bottom: 17px;
  padding: 5px 10px 5px 10px;
}

.answer-div {
  cursor: pointer;
  width: 100%;
  font-family: $body-font;
  border-radius: $border-radius;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  background-color: $green-gray;
  color: $dark-green;
  // border: 1px solid $dark-green;
  margin-right: 0.6rem;
  margin-bottom: 17px;
  box-shadow: 2px 2px 2px 2px #c9c5c5;
  &.wrong-answer {
    // background-color: $red;
    border-color: $red;
    color: $red;
    box-shadow: 2px 2px 2px 2px #c9c5c5;
    background-color: #ffd0d0;
  }
  &.right-answer {
    background-color: $green;
    border-color: $green;
    color: rgb(38, 141, 86);
    background-color: rgb(173, 229, 199);
    box-shadow: 2px 2px 2px 2px #c9c5c5;
  }
}

#questions-show {
  legend {
    text-align: center;
    margin-bottom: 20px;
    color: $dark-green;
    font-family: $headers-font;
    font-weight: 200;
  }

  label {
    text-align: justify;
    margin-bottom: 20px;
    color: $dark-green;
    font-family: $body-font;
    font-weight: 600;
    padding: 5px 10px 5px 10px;
    margin-right: 0.6rem;
    margin-bottom: 17px;
    box-shadow: 2px 2px 2px 2px #c9c5c5;
  }
}

.continuer-button{
  text-align: center;
  padding-top: 5px;
}
