#user_journeys-show {
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: $dark-green;
  }
  > p {
    margin-bottom: 3px;
    color: $green-gray;
    font-family: $body-font;
  }

  i {
  font-size:    $small-font;

  }
}
