<% if @user_journey_piece.locked? %>
  <div class="img-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @user_journey_piece.piece.photo.key, height: 800 %>)"></div>
    <div data-controller="scanner" id="reader" width="80vw"></div>
  <div class='d-flex justify-content-center my-2'>
    <%= link_to 'retour', user_journey_path(@user_journey_piece.user_journey), class: 'btn btn-empty' %>
  </div>


<% elsif @user_journey_piece.revealed? %>
  <%= render 'user_journey_pieces/show_with_media', piece: @user_journey_piece.piece, user_journey: @user_journey_piece.user_journey %>
<% end %>
