<% if @user_journey_piece.locked? %>
  <h1>ici le QR Code</h1>
  <%= link_to 'retour', user_journey_path(@user_journey) %>
<% elsif @user_journey_piece.revealed? %>
  <%= render 'user_journey_pieces/show_with_media', piece: @user_journey_piece.piece, user_journey: @user_journey_piece.user_journey %>
<% end %>
