<div class="navbar navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "Artup.png" %>
  <% end %>
  <% if controller_name == "questions" || controller_name == "user_journey_pieces" || controller_name == "user_journeys" %>
    <p class="visitez-title"><%= @user_journey.journey.name %> <i class="fa-solid fa-shoe-prints"></i></p>
  <% end %>

  <% if action_name == "home" || controller_name == "journeys" %>
    <p class="visitez-title"> Visitez le musée autrement </p>
  <% end %>

  <% if controller_name == "questions" || controller_name == "user_journey_pieces" || controller_name == "user_journeys" %>

    <div class="navbar-progress">
      <progress id="progress-bar" max="100" value="<%= @user_journey.progression %>"></progress>
    </div>
  <% end %>

</div>
