<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "Artup.png", height: 50 %>
  <% end %>

  <% if controller_name == "questions" || controller_name == "user_journey_pieces" || controller_name == "user_journeys" %>

    <div class="navbar-progress">
      <progress id="progress-bar" max="100" value="<%= @user_journey.progression %>"></progress>
    </div>
  <% end %>

</div>
