<div class="icone navbar-background">
  <div class="d-flex justify-content-center" id="nav-btn">
      <%= link_to root_path, class:'text-center' do %><i class="fa-solid fa-house"></i><% end %>
      <%= link_to root_path, class:'text-center' do %><i class="fa-solid fa-right-from-bracket"></i><% end %>
      <%= link_to root_path, class:'text-center' do %><i class="fa-solid fa-location-dot"></i><% end %>
      <%= link_to root_path, class:'text-center' do %><i class="fa-solid fa-user"></i><% end %>
  </div>
</div>
