<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <h1>Artup</h1>
  <% end %>

  <% if controller_name == "questions" || controller_name == "user_journey_pieces" || controller_name == "user_journeys" %>
    <div class="navbar-progress">
      <label id="progress-bar-title" for="file">Votre avancée dans le parcours :</label>

      <progress id="progress-bar" max="100" value="<%= @user_journey.progression %>"> 70% </progress>
    </div>
  <% end %>
</div>
