<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>

  <% if controller_name == "questions" || controller_name == "user_journey_pieces" || controller_name == "user_journeys" %>
    <div class="navbar-progress">
      <label id="progress-bar-title" for="file">Your progress :</label>

      <progress id="progress-bar" max="100" value="<%= @user_journey.progression %>"> 70% </progress>
    </div>
  <% end %>
</div>

