
    <div class="container">
      <div class="icone navbar-background">
        <div class="d-flex justify-content-center" id="nav-btn">
          <i class="fa-solid fa-house"></i>
            <%# <%= link_to #_path %><i class="fa-solid fa-right-from-bracket"></i>
            <%# <%= link_to #_path %><i class="fa-solid fa-location-dot"></i>
            <%# <%= link_to #_path %><i class="fa-solid fa-user"></i>
        </div>
    </div>

