<h1>Bienvenue <%= current_user.first_name %> !</h1>

<h2>Vos parcours :</h2>

  <div class="swiper" data-controller='swiper'>
    <div class="swiper-wrapper">
      <% @user_journeys.each do |user_journey| %>
        <div class="swiper-slide">
          <div class="card-piece">
            <%= link_to '', user_journey_path(user_journey) %>
            <div class="card-piece-infos done" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path user_journey.journey.photo.key %>)">
              <div>
                <h2> <%= user_journey.journey.name %></h2>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
