<h1>Bienvenue sur Artup</h1>

<h2>Voici les parcours du Louvre :</h2>

<div class="card-journey">
  <% @journeys.each do |journey| %>
    <div class="card-journey-infos" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path journey.photo.key, height: 200, crop: :fill %>)">
      <h2> <%= link_to journey.name, journey_path(journey) %></h2>
    </div>
  <% end %>
</div>
