  <div class='container w-100'>
    <h1>Visitez le musée autrement</h1>
    <p>Testez vos connaissance sur les oeuvres du Louvre</p>
  </div>

<% @journeys.each do |journey| %>
  <div class="card-journey">
    <%= link_to journey_path(journey) do %>
      <div class="card-journey-infos" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path journey.photo.key, height: 400, crop: :fill %>)">
        <div>
          <h2> <%= journey.name%></h2>
          <button class='btn btn-empty-white'> Découvrir </button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
