.btn-empty {
  background-color: transparent;
  color: $dark-green;
  border: 1px solid $dark-green;
  padding: 8px 24px;
  border-radius: $border-radius;
  font-weight: 300;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin-bottom: 1rem;
}

.btn-empty:hover {
  opacity: 0.5;
  border: 1px solid $dark-green;
  border-radius: $border-radius;
  color: $dark-green;
}


.btn-filled {
  background-color: $dark-green;
  color: $green-gray;
  border: 1px solid $green-gray;
  padding: 8px 24px;
  border-radius: $border-radius;
  font-weight: 300;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-filled:hover {
  opacity: 0.5;
  background-color: $dark-green;
  color: $green-gray;
}

.btn-empty-white {
  background-color: transparent;
  color: $green-gray;
  border: 3px solid $green-gray;
  padding: 8px 24px;
  border-radius: $border-radius;
  font-weight: 300;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-empty-white:hover {
  opacity: 0.6;
  border: 3px solid opacify($color: $green-gray, $amount: 0.6);
}
