.btn-empty {
  background-color: transparent;
  color: $brown;
  border: 1px solid $brown;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 300;
  transition: opacity 0.3s ease;
}

.btn-empty:hover {
  background-color: $brown;
  color: $green-gray;
}


.btn-filled {
  background-color: $brown;
  color: $green-gray;
  border: 1px solid $green-gray;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 300;
  transition: opacity 0.3s ease;
}

.btn-filled:hover {
  border: 1px solid $brown;
  background-color: $green-gray;
  color: $brown;
}

.btn-empty-white {
  background-color: transparent;
  color: $green-gray;
  border: 3px solid $green-gray;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 300;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-empty-white:hover {
  opacity: 0.6;
  border: 3px solid opacify($color: $green-gray, $amount: 0.6);
}
