.card-journey {
  width: 100vw;
  overflow: hidden;
  background: transparent;
}

.card-journey-infos {
  height: 400px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;

  > div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    text-decoration: none;
  }
}

.card-piece {
  width: 100vw;
  overflow: hidden;
  background: transparent;
}

.card-piece-infos {
  height: 200px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;

  > div {
    backdrop-filter: blur(8px);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
  }
}

.done {
  > div {
    backdrop-filter: blur(0px);
  }
}
