.card-journey {
  width: 100vw;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px $gray;
}

.card-journey > img {
  width: 100vw;
  height: 200px;
  object-fit: cover;
}

.card-journey h2 {
  font-size: $medium-font;
  font-weight: bold;
  margin: 0;
}

.card-journey p {
  font-size: $small-font;
  opacity: .7;
  margin: 0;
}


.card-journey .card-journey-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
