.card-journey {
  width: 100vw;
  overflow: hidden;
  background: white;
}

.card-journey > img {
  width: 100vw;
  height: 200px;
  object-fit: cover;
}

.card-journey h2 {
  font-size: $medium-font;
  font-weight: bold;
  margin: 0;
}

.card-journey p {
  font-size: $small-font;
  opacity: .7;
  margin: 0;
}


.card-journey .card-journey-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-piece {
  width: 100vw;
  overflow: hidden;
  background: white;
}

.card-piece-infos {
  height: 200px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;

  > div {
    backdrop-filter: blur(8px);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
  }
}

.done {
  > div {
    backdrop-filter: blur(0px);
  }
}
