.icone {
  font-size: 50px;
  letter-spacing: 40px;
  text-decoration: none;
  color: black;
}

.navbar-background {
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  width: 80%;
  text-align: justify;
  border-radius: 50px;

}
