.navbar-lewagon {
  background: $green-gray;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 1000000000000000000;
  p {
    color: $dark-green;
    font-family: $body-font;
    font-weight: 600;
    margin-bottom: 0;
    padding: 5%;
  }

  .visitez-title {
    position: absolute;
    left: 115px;
    }
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  padding: 10px;
  height: 60px,
}

.navbar-lewagon h1 {
  color: $dark-green;
}

.navbar-progress{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
}

// #progress-bar-title{
//   font-family: $body-font;
//   font-size: 0.9rem;
// }

#progress-bar{
  height: 10px;
  width: 100%;
  -webkit-appearance: none;
  overflow: hidden;

  &::-webkit-progress-value {
    background-color: $green;
  }

  &::-webkit-progress-bar {
     background-color: $dark-green;
  }
}
