.icone {
  text-align: center;
  font-size: 25px;
  letter-spacing: 60px;
  text-decoration: none;
  color: $dark-green;
  bottom: 0;
}

.navbar-background {
  background: $green-gray;
  width: 100%;
  text-align: justify;
  padding: 4px;
  bottom: 0;
  position: fixed;
  z-index: 1000000000000000000;
}

.navbar-nav {
  flex-direction: initial!important
}

#nav-btn i {
  width: 40%
}

#nav-btn a {
  color: $dark-green;
  text-decoration: none;
}
