.navbar-lewagon {
  background: $green-gray;
  justify-content: flex-start;
  padding: 5px;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 1000000000000000000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar-lewagon h1 {
  color: $dark-green;
}

.navbar-progress{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
}

// #progress-bar-title{
//   font-family: $body-font;
//   font-size: 0.9rem;
// }

#progress-bar{
  height: 10px;
  width: 100%;
  -webkit-appearance: none;
  overflow: hidden;

  &::-webkit-progress-value {
    background-color: $dark-green;
  }

  &::-webkit-progress-bar {
     background-color: $brown;
  }

}

// .navbar-score{
//   flex-grow: 1;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }

// .score-bar-title{
//   color: $brown;
//   position: relative;
//   top: 60px;
//   left: -10px;
//   top: 69px;
//   left: -19px;
//   font-size: 36px
// }

// .score-bar{
//   background-color: transparent;
//   border: 1px solid $brown;
//   padding: 8px 24px;
//   border-radius: 50px;
// }

// .score-bar-result{
//   color: $brown;
//   font-weight: 300;
// }
