<h1> <%= @journey.name %></h1>
<p><%= @journey.description %></p>

<%= link_to 'commencer la visite',  journey_user_journeys_path(@journey), data: {turbo_method: :post}%>

<div class="card-journey">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-journey-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
  </div>
</div>
